.main{
    width: 510px;
    display: inline-block;
    position: fixed;
    top: 94px;
    left: 35%;
}

.story{
    background-color: #fff;
    width: 310px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    height: 200px;
    margin-bottom: 10px;
    overflow: scroll;
    overflow: auto;
}

.story img{
    width:50px;
}

article {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}

header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DBDBDB;
}

ul,li {
    list-style-type: none;
    list-style-position: inside;

}

header img{
    width:50px;

}

.pid_img {
    margin-bottom: 5px;
}

.pid_img img{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 500px;
}

.pid_img p{
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #DBDBDB;
}
.icon_div{
    display: inline-block;
    width:30px;
    margin-right: 10px;
}
.icon_div button{
    border:0;
    outline:0;
    background-color: #fff;
}


.icon img{
    width:30px;
}

.like_link{
    display:block;
}