.main{
    width: 510px;
    display: inline-block;
    position: fixed;
    top: 94px;
    left: 35%;
}


.notice{
    background-color: #fff;
    width: 400px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    height: 100%;
    margin-bottom: 10px;
}

.notice_txt{
    margin-left: 5px;
    margin-bottom: 15px;
}


