.main{
    width: 510px;
    display: inline-block;
    position: fixed;
    top: 94px;
    left: 35%;
}

.profile{
    background-color: #fff;
    width: 510px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    height: 200px;
    margin-bottom: 10px;
}

.profile_img_div{
    display: inline-block;
    width: 150px;
    margin-left: 5px;
    margin-top: 17px;
    margin-bottom: 5px;
    margin-right: 45px;
}

.profile_info{
    display: inline-block;
    height: 200px;
}

.profile_info h2{
    font-weight: 400;
    margin-bottom: 50px;
}

.follow a{
    margin-right: 10px;
}

article {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}

.profile img{
    width:150px;
    height:150px;
}

.pid_img {
    margin-bottom: 5px;
}

.pid_img img{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 500px;
}

.pid_img p{
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #DBDBDB;
}
.icon_div{
    display: inline-block;
    width:30px;
    margin-right: 10px;
}
.icon_div button{
    border:0;
    outline:0;
    background-color: #fff;
}


.icon img{
    width:30px;
}

.like_link{
    display:block;
}