<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>DMdetail</title>
</head>
<body>
	<table class="table">
		<thead>
		<tr>
		  <th scope="col">sender</th>
		  <th scope="col">receiver</th>
		</tr>
		</thead>
		<tbody>
			{{#DMentity}}
				<tr>
					<th><a href="">{{sender_id}}</a></th>
					<th><a href="">{{receiver_id}}</a></th>
				</tr>
			{{/DMentity}}
		</tbody>
	</table>
</body>
</html>