<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container {
			width: 300px; 
			height: 500px; 
			border-radius: 10px; 
			text-align: center; 
			position: relative; 
			left: 750px; 
			top: 50%; 
			overflow: auto;
			margin-top: 100px;
		}
		.container::-webkit-scrollbar {
		  width: 0px;
		}
		.h1-size {
			font-size: 2em !important;
			margin: 0px;
		}
	</style>
</head>
<body>
	<section>
		<article>
			<fieldset class="container">
				<legend style="text-align: left;"><h1 class="h1-size"><b style="text-transform:uppercase;">{{#user}}{{user_id}}{{/user}}</b></h1></legend>
				<div style="margin-top: 15px; margin-bottom: 30px; text-align: center;">
					{{#DMentity}}
					<div OnClick="location.href ='http://localhost:8080/direct/{{sender_id}}'" style="display: inline-block; cursor: pointer; width: 80%; border: 1px solid black;">
						<div style="text-align: left; position: relative; left: 5px;">
							<h3 style="margin: 0px;">{{sender_id}}</h3>
							{{Comment}}
						</div>
					</div>
					{{/DMentity}}
				</div>
			</fieldset>
		</article>
	</section>	
</body>
</html>