<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container {
			width: 300px; 
			height: 500px; 
			border-radius: 10px; 
			text-align: center; 
			position: relative; 
			left: 750px; 
			top: 50%; 
			overflow: auto;
			margin-top: 100px;
		}
		.container::-webkit-scrollbar {
		  width: 0px;
		}
		.h1-size {
			font-size: 2em !important;
			margin: 0px;
		}
	</style>
</head>
<body>
	<section>
		<article>
			<fieldset class="container">
					<legend style="text-align: left;"><h1 class="h1-size"><b style="text-transform:uppercase;">
						<div OnClick="location.href ='/mainpage'" style="cursor: pointer;">
						<img src="https://cdn-icons-png.flaticon.com/512/130/130882.png" style="width: 22px">
						{{user.user_id}}</b></h1>
					</div>
					</legend>
				<div style="margin-top: 15px; margin-bottom: 30px; text-align: center;">
					{{#DMentity}}
					<div style="margin-left: 10px; margin-bottom: 10px;">
						<div style="position: relative; float: left; width: 50px; height: 50px; border-radius: 25px; border: 1px solid black;"></div>
						<div OnClick="location.href ='/direct/{{user_id}}'" style="position: relative; display: inline-block; cursor: pointer; width: 80%; height: 52px;">
							<div style="text-align: left; position: relative; left: 5px;">
								<h3 style="margin: 0px;">{{user_id}}</h3>
							</div>
						</div>
					</div>
					{{/DMentity}}
				</div>
			</fieldset>
		</article>
	</section>	
</body>
</html>