<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container {
			width: 300px; 
			height: 530px; 
			border-radius: 10px; 
			text-align: center; 
			position: relative; 
			left: 750px; 
			top: 50%; 
			overflow: auto;
			margin-top: 100px;
			padding-bottom: 0;
		}
		.container::-webkit-scrollbar {
		  width: 0px;
		}
		.h1-size {
			font-size: 2em !important;
			margin: 0px;
		}
	</style>
</head>
<body>
	<section>
		<article>
			<fieldset class="container">
				<legend style="text-align: left;"><h1 class="h1-size"><b style="text-transform:uppercase;">
					<div OnClick="location.href ='javascript:history.back()'" style="cursor: pointer;">
					<img src="https://cdn-icons-png.flaticon.com/512/130/130882.png" style="width: 22px">
					Feed</b></h1>
				</div>
				</legend>
				<script>
					var i=0;
					var j=0;
				</script>
				<div style="margin-top: 5px; border-bottom: 30px; text-align: center;">
					{{#feedDto}}
					<div id="feed-{{feed_id}}">
						<div OnClick="location.href ='/profile/{{user.user_id}}'" style="cursor: pointer; text-align: left;">
							<div style="position: relative; float: left; width: 30px; height: 30px; border-radius: 15px; border: 1px solid black;">
								<input type="hidden" value="{{user.profile_photo}}" id="getprofile_photo1">
								<script>
									var a = document.querySelectorAll("#getprofile_photo1");
									var x = [];
									x.push(a[i].value);
									if(a[i].value == 0) {
										console.log("사진없음");
										document.write("<img src=\"https://www.snsboom.co.kr/common/img/default_profile.png\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
									}
									else {
										document.write("<img src=\"{{user.profile_photo}}\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
									}
									i++;
								</script>
							</div>
							<div style="position: relative; float: left; width: 60px; height: 30px; line-height : 30px; margin-left: 10px;">
								{{user.user_id}}
							</div>
							<input type="hidden" value="{{user.user_id}}" id="getuserEntity">
							<input type="hidden" value="{{user.user_id}}" id="getfeeduser">
							<input type="hidden" value="{{feed_id}}" id="getfeedid">
							<script>
								var b = document.querySelectorAll("#getuserEntity");
								var c = document.querySelectorAll("#getfeeduser");
								var d = document.querySelectorAll("#getfeedid");
								if(b[j].value == c[j].value) {
									document.write("<div style=\"position: relative; float: right; margin-top: 5px;\"><button id=\"delete-feed\" style=\"cursor: pointer; border: none; background: rgb(220, 220, 220); border-radius: 8px; padding: 3px 5px;\" type=\"button\" data-comment-id="+d[j].value+">삭제</button></div>")
								}
								j++;
							</script>
						</div>
						<div style="margin-top: 10px; width: 300px; height: 300px; position: relative; float: left; border: 1px solid black;">
							<img src="{{feed_photo}}" alt="{{feed_photo}}" style="width: 100%; height: 100%;">
						</div>
						<div style="width: 300px; height: auto; position: relative; float: left; text-align: left; margin-top: 10px;">
							<p OnClick="location.href ='/feed/likes/{{feed_id}}'" style="display: inline-block; cursor: pointer; font-size: 0.85em; margin: 0px;">좋아요 {{likes}}개</p>
							<p style="font-size: 0.85em; margin: 0px;"><b>{{feed_comment}}</b></p>
						</div>
					</div>
					{{/feedDto}}
					<script>
						var i=0;
					</script>
					{{#feed_commentDtos}}
					<div style="width:300px; height: auto; position: relative; float: left; margin: 7px 0px;">
						<div OnClick="location.href ='/profile/{{user.user_id}}'" style="cursor: pointer; position: relative; float: left; width: 30px; height: 30px; border-radius: 15px; border: 1px solid black;">
							<input type="hidden" value="{{user.profile_photo}}" id="getprofile_photo11">
							<script>
								var a = document.querySelectorAll("#getprofile_photo11");
								var x = [];
								x.push(a[i].value);
								if(a[i].value == 0) {
									console.log("사진없음");
									document.write("<img src=\"https://www.snsboom.co.kr/common/img/default_profile.png\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
								}
								else {
									document.write("<img src=\"{{user.profile_photo}}\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
								}
								i++;
							</script>
						</div>
						<div style="position: relative; width: 260px; height: auto; float: left; margin-left: 5px; text-align: left;"><p style="font-size: 0.85em; margin: 0px;">
							<b OnClick="location.href ='/profile/{{user.user_id}}'" style="cursor: pointer;">{{user.user_id}}</b>&nbsp;&nbsp;{{comment}}</p><div  OnClick="location.href ='/feed/comment/likes/{{comment_id}}'" style="cursor: pointer;"><p style="font-size: 0.56em; margin: 0px;">좋아요 {{likes}}개</p></div>
						</div>
					</div>
					{{/feed_commentDtos}}
					<div style="position: relative; float: left; width: 300px; height: 15px;"></div>
				</div>
			</fieldset>
			<form>
				<div style="position: relative; float: left; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; left: 750px; top: -20px; width: 301.5px; height: 10px; margin: 2px; border: 2px; padding: 12px; border-width: 2px; border-image: initial;
				border-style: groove; border-color: rgb(192, 192, 192); background-color: white;">
					<input type="text" id="getcomment" placeholder="댓글 달기..." style="border: none; outline: none; border-style: none; border-color: Transparent; position: relative; float: left; top: -10px; left: -6px; height: 26px; width: 78%;">
					{{#user}}<input type="hidden" id="getuserid" value="{{user_id}}">{{/user}}
					{{#feedDto}}<input type="hidden" id="getfeedid" value="{{feed_id}}">{{/feedDto}}
					<input type="hidden" id="getlikes" value="0">
					<div style="position: relative; float: left; top: -7px; left: 12px; margin-left: 2px;">
						<button id="comment-create-btn" style="border: none; background: none;" type="button"><b>게시</b></button>
					</div>
				</div>
			</form>
		</article>
	</section>	
</body>
<script>
	{
		const commentCreateBtn = document.querySelector("#comment-create-btn");
		console.log(commentCreateBtn);

		commentCreateBtn.addEventListener("click", function() {
			const comment = {
				feed_id: document.querySelector("#getfeedid").value,
				user_id: document.querySelector("#getuserid").value,
				comment: document.querySelector("#getcomment").value,
				likes: document.querySelector("#getlikes").value
			};

			console.log(comment);
			
			// fetch() - Talend API 요청을 JavaScript로 보내준다!
			const url = "/api/create/feed/" + comment.user_id + "/comments";
			fetch(url, {
				method: "post",
				body: JSON.stringify(comment),
				headers: {
					"Content-Type": "application/json"
				}
			}).then(response => {
				// 현재 페이지 새로고침
				window.location.reload();
			});
		});
	}
</script>
<script>
	{
		const deletefeed = document.querySelectorAll("#delete-feed");

		console.log(deletefeed.length);

		deletefeed.forEach(btn => {
			btn.addEventListener("click", function(event) {
				const deletefeedBtn = event.srcElement;
				const deleteid = deletefeedBtn.getAttribute("data-comment-id");
				console.log(`삭제 버튼 클릭: ${deleteid}번 댓글`);
				// 삭제 API 호출 및 처리
				const url = `/api/feed/delete/${deleteid}`; // 백틱 숫자 물결 키
				fetch(url, {
					method: "DELETE"
				}).then(response => {
					// 댓글 삭제 실패 처리
					if (!response.ok) {
						alert("댓글 삭제 실패..!");
						return;
					}

					// 삭제 성공 시, 댓글을 화면에서 지움!
					const target = document.querySelector(`#feed-${deleteid}`);
					window.location.assign("/mainpage");
				})
			});
		});
	}
</script>
</html>