<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
	</header>
	<section>
		<article>
			<form action="/checkID" method="post">
				<div style="width: 300px; height: 300px;">
					<fieldset style="border-radius: 10px; text-align: center; position: relative; left: 750px; top: 50%;">
						<legend style="text-align: center;"><b>Sign In</b></legend>
						<div style="margin-top: 30px;">
							<i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" 
								style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yi/r/ZFtnMBJnHU_.png&quot;); 
								background-position: 0px -554px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
						</div>
						<div style="margin-top: 30px;">
							<p>
								<div style="text-align: left; position: relative; left: 45px;">
									<p style="margin: 0px;">ID</p>
								</div>
								<input style="width: 175px; height: 25px; border-radius: 3px;" type="text" placeholder="Type your ID here" value="" name="user_id">
							</p>
						</div>
						<div style="margin-bottom: 50px; margin-top: 25px;">
							<p>
								<div style="text-align: left; position: relative; left: 45px;">
									<p style="margin: 0px;">Password</p>
								</div>
								<input style="width: 175px; height: 25px; border-radius: 3px;" type="password" placeholder="Type your password here" value="" name="password">
							</p>
						</div>
						{{#msg}}
						<div style="margin-bottom: 10px;">
							{{msg}}
						</div>
						{{/msg}}
						<div style="margin-bottom: 30px;">
							<button style="border-radius: 5px;" type="submit">SIGN IN</button>
						</div>
						<div>
							<a>Don't have an account? </a><a href="signup">Sign up</a>
						</div>
					</fieldset>
				</div>
				<br>
			</form>
		</article>
	</section>	
</body>
</html>
