<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
	</header>
	<section>
		<article>
			<form action="/checkID" method="post">
				<div style="width: 300px; height: 300px;">
					<fieldset style="border-radius: 10px; padding-bottom: 50px; text-align: center; position: relative; left: 40vw; top: 50%;">
						<legend style="text-align: center;"><b>로그인</b></legend>
						<div style="margin-top: 50px;">
							<i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" 
								style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yi/r/ZFtnMBJnHU_.png&quot;); 
								background-position: 0px -554px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
						</div>
						<div style="margin-top: 50px;">
							<input style="width: 175px; height: 25px; border: 1px solid black; border-radius: 5px;" type="text" placeholder="&nbsp;사용자 이름" value="" name="user_id">
						</div>
						<div style="margin-bottom: 20px; margin-top: 15px;">
							<input style="width: 175px; height: 25px; border: 1px solid black; border-radius: 5px;" type="password" placeholder="&nbsp;비밀번호" value="" name="password">
						</div>
						<div style="width: 268px; margin-top: 30px; margin-bottom: 10px;">
							<button style="width: 175px; background-color: skyblue; border: 0px; height: 30px; border-radius: 5px;" type="submit"><b>로그인</b></button>
						</div>
					</fieldset>
				</div>
				{{#msg}}
				<div style="position: absolute; width: 296px; text-align: center; left: 40.5vw; top: 53%;">
					{{msg}}
				</div>
				{{/msg}}
				<div style="position: relative; margin-top: 60px; width: 300px; height: 300px;">
					<fieldset style="border-radius: 10px; text-align: center; position: relative; left: 40vw; top: 60%;">
						<div>
							<a>계정이 없으신가요? </a><a OnClick="location.href ='/signup'" style="display: inline-block; cursor: pointer; color: blue;"><b>가입하기</b></a>
						</div>
					</fieldset>
				</div>
			</form>
		</article>
	</section>	
</body>
</html>
