<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container {
			width: 300px; 
			height: 530px; 
			border-radius: 10px; 
			text-align: center; 
			position: relative; 
			left: 40vw; 
			top: 50%; 
			overflow: auto;
			margin-top: 100px;
			padding-bottom: 0;
		}
		.container::-webkit-scrollbar {
		  width: 0px;
		}
	</style>
</head>
<body>
	{{#msg}}
	<input type="hidden" value="{{msg}}" id="alertmsg">
	<script>
		var a = document.querySelectorAll("#alertmsg");
		alert(a[0].value);
	</script>
	{{/msg}}
	<section>
		<article>
			<fieldset class="container">
				<script>
					var i=0;
				</script>
				<div style="position: relative; float: left; width: 300px; padding-bottom: 10px; overflow: scroll; overflow: auto; margin-top: 50px; white-space: nowrap;">
					<div OnClick="location.href ='/newstory'" style="float: left; width: 50px; height: 70px; cursor: pointer; margin-top: 5px; margin-right: 10px;">
						<div style="width: 50px; height: 50px; border-radius: 25px; border: 1px solid white;">
							<img src="https://cdn-icons-png.flaticon.com/512/5948/5948875.png" style="border-radius: 25px; width: 100%; height: 100%;">
						</div>
					</div>
					{{#storyEntity}}
					<div OnClick="location.href ='/story/{{user.user_id}}'" style="float: left; width: 50px; height: 70px; cursor: pointer; margin-top: 5px; margin-right: 10px;">
						<div style="width: 50px; height: 50px; border-radius: 25px; border: 1px solid black;">
							<input type="hidden" value="{{user.profile_photo}}" id="getprofile_photo1">
							<script>
								var a = document.querySelectorAll("#getprofile_photo1");
								var x = [];
								x.push(a[i].value);
								if(a[i].value == 0) {
									console.log("사진없음");
									document.write("<img src=\"https://www.snsboom.co.kr/common/img/default_profile.png\" style=\"border-radius: 25px; width: 100%; height: 100%;\">");
								}
								else {
									document.write("<img src=\"{{user.profile_photo}}\" style=\"border-radius: 25px; width: 100%; height: 100%;\">");
								}
								i++;
							</script>
						</div>
						<div style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; width: 50px; height: 16px;">
							<p style="overflow: hidden; text-overflow: ellipsis; font-size: 8pt; margin: 0;">{{user.user_id}}</p>
						</div>
					</div>
					{{/storyEntity}}
				</div>
				<div style="position: relative; float: left; width: 300px; border-bottom: 2px solid black;"></div>
				<div style="position: relative; float: left; margin-top: 10px; border-bottom: 30px; text-align: center;">
					<script>
						var i=0;
						var j=0;
						var l=0;
					</script>
					{{#feedLikesEntity}}
					<input type="hidden" value="{{feed_id}}" id="like-feed-id">
					{{/feedLikesEntity}}
					<script>
						var user_id = document.querySelectorAll("#like-feed-id");
						var userid = [];
						for(var loop = 0; loop <= user_id.length-1; loop++){
							userid.push(user_id[loop].value);
						}
						console.log(userid);
					</script>
					{{#feedEntity}}
					<div id="feed-{{feed_id}}">
						<div style="height: auto; text-align: left;">
							<div OnClick="location.href ='/profile/{{user.user_id}}'" style="cursor: pointer; position: relative; float: left; width: 30px; height: 30px; border-radius: 15px; border: 1px solid black;">
								<input type="hidden" value="{{user.profile_photo}}" id="getprofile_photo">
								<script>
									var a = document.querySelectorAll("#getprofile_photo");
									var x = [];
									x.push(a[i].value);
									if(a[i].value == 0) {
										console.log("사진없음");
										document.write("<img src=\"https://www.snsboom.co.kr/common/img/default_profile.png\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
									}
									else {
										document.write("<img src=\"{{user.profile_photo}}\" style=\"border-radius: 15px; width: 100%; height: 100%;\">");
									}
									i++;
								</script>
							</div>
							<div OnClick="location.href ='/profile/{{user.user_id}}'" style="cursor: pointer; position: relative; float: left; width: 60px; height: 30px; line-height : 30px; margin-left: 10px;">
								{{user.user_id}}
							</div>
							<input type="hidden" value="{{userEntity.user_id}}" id="getuserEntity">
							<input type="hidden" value="{{user.user_id}}" id="getfeeduser">
							<input type="hidden" value="{{feed_id}}" id="getfeedid">
							<script>
								var b = document.querySelectorAll("#getuserEntity");
								var c = document.querySelectorAll("#getfeeduser");
								var d = document.querySelectorAll("#getfeedid");
								if(b[j].value == c[j].value) {
									document.write("<div style=\"position: relative; float: right; margin-top: 5px;\"><button id=\"delete-feed\" style=\"cursor: pointer; border: none; background: rgb(220, 220, 220); border-radius: 8px; padding: 3px 5px;\" type=\"button\" data-comment-id="+d[j].value+">삭제</button></div>")
								}
								j++;
							</script>
						</div>
						<div style="margin-top: 10px; width: 300px; height: 300px; position: relative; float: left; border: 1px solid black;">
							<img src="{{feed_photo}}" alt="{{feed_photo}}" style="width: 100%; height: 100%;">
						</div>
						<div style="width: 300px; height: auto; position: relative; float: left; text-align: left; margin-bottom: 20px; margin-top: 10px;">
							<input type="hidden" value="{{feed_id}}" id="feed-id">
							<script>
								var feed_id = document.querySelectorAll("#feed-id");
								var feedid = [];
								feedid.push(feed_id[l].value);
								var cnt=0;
								for(var loop = 0; loop < user_id.length; loop++){
									if(userid[loop] == feedid[0]) {
										cnt++;
										console.log(userid[loop]);
										document.write(`<img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" style="width: 18px; margin-right: 0px;">`);
									}
								}
								if(cnt==0) {
									document.write(`<img src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" style="width: 18px; margin-right: 0px;">`);
								}
								l++;
							</script>
							<p OnClick="location.href ='/feed/likes/{{feed_id}}'" style="display: inline-block; cursor: pointer; font-size: 0.85em; margin: 0px; position: relative; top: -3px;">좋아요 {{likes}}개</p>
							<!--https://cdn-icons-png.flaticon.com/512/1077/1077035.png-->
							<p style="font-size: 0.85em; margin: 0px;"><b>{{feed_comment}}</b></p>
							<div OnClick="location.href ='/feed/comments/{{feed_id}}'" style="cursor: pointer; position: relative; float: left; width: 302px;">
								<p style="font-size: 0.75em; margin: 0px;">댓글 보기</p>
							</div>
						</div>
					</div>
					{{/feedEntity}}
				</div>
				<header style="position: fixed; width: 302px; top: 102px; height: 50px; background-color: white; padding-top: 3.6px;">
					<div OnClick="location.href ='/mainpage'" style="cursor: pointer; position: relative; float: left; left: -5px; margin-top: 10px; height: 30px;">
						<img src="https://logos-download.com/wp-content/uploads/2016/03/Instagram_Logo_2016.png" style="width: 100%; height: 100%;">
					</div>
					<form style="position: relative; float: left; margin-top: 10px; width: 130px; height: 30px;">
						<div style="position: relative; float: left; top: 5px; width: 83px; height: 20px; margin: 0;">
							<input type="text" id="getid" placeholder="아이디 입력..." style="position: relative; float: left; width: 100%; height: 20px; padding: 0px; border: 0px;">
						</div>
						<div style="position: relative; float: left; top: 3px; width: 45px;">
							<button id="search-id" style="cursor: pointer; border: none; background: none;" type="button"><b>검색</b></button>
						</div>
					</form>
					<div OnClick="location.href ='/feed/create'" style="cursor: pointer; position: relative; float: left; width: 25px; height: 25px; margin-left: 5px; margin-top: 12.5px; ">
						<img src="https://cdn-icons-png.flaticon.com/512/2040/2040520.png" style="width: 100%; height: 100%;">
					</div>
					<div OnClick="location.href ='/direct/inbox'" style="cursor: pointer; position: relative; float: right; margin-top: 12.5px; height: 25px;">
						<img src="https://cdn-icons-png.flaticon.com/512/5948/5948572.png" style="width: 100%; height: 100%;">
					</div>
				</header>
				<header style="position: fixed; margin-left: 250px; margin-top: 465px;">
					<div OnClick="location.href ='/profile/{{userEntity.user_id}}'" style="cursor: pointer; width: 50px; height: 50px; border-radius: 25px; border: 1px solid transparent; background-color: rgb(220, 220, 220);">
						<img src="https://cdn-icons-png.flaticon.com/512/2764/2764007.png" style="width: 100%; height: 100%;">
					</div>
				</header>
			</fieldset>
		</article>
	</section>

</body>
<script>
	{
		const searchid = document.querySelector("#search-id");
		console.log(searchid);

		searchid.addEventListener("click", function() {
			const id = document.querySelector("#getid").value;

			location.href="/profile/"+id;
		});
	}
</script>
<script>
	{
		const deletefeed = document.querySelectorAll("#delete-feed");

		console.log(deletefeed.length);

		deletefeed.forEach(btn => {
			btn.addEventListener("click", function(event) {
				const deletefeedBtn = event.srcElement;
				const deleteid = deletefeedBtn.getAttribute("data-comment-id");
				console.log(`삭제 버튼 클릭: ${deleteid}번 댓글`);
				// 삭제 API 호출 및 처리
				const url = `/api/feed/delete/${deleteid}`; // 백틱 숫자 물결 키
				fetch(url, {
					method: "DELETE"
				}).then(response => {
					// 댓글 삭제 실패 처리
					if (!response.ok) {
						alert("댓글 삭제 실패..!");
						return;
					}

					// 삭제 성공 시, 댓글을 화면에서 지움!
					const target = document.querySelector(`#feed-${deleteid}`);
					target.remove();
				})
			});
		});
	}
</script>
</html>