<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container {
			width: 302px; 
			height: 530px; 
			border-radius: 10px; 
			text-align: center; 
			position: relative; 
			left: 40vw; 
			top: 50%; 
			overflow: auto;
			margin-top: 100px;
			padding-bottom: 0;
		}
		.container::-webkit-scrollbar {
		  width: 0px;
		}
		.h1-size {
			font-size: 2em !important;
			margin: 0px;
		}
	</style>
</head>
<body>
	<section>
		<article>
			<fieldset class="container">
				<legend style="text-align: left;"><h1 class="h1-size"><b style="text-transform:uppercase;">
					<div OnClick="location.href ='javascript:history.back()'" style="cursor: pointer;">
					<img src="https://cdn-icons-png.flaticon.com/512/130/130882.png" style="width: 22px">
					follower</b></h1>
				</div>
				</legend>
				<div style="position: relative; margin-top: 5px; border-bottom: 30px; height: auto; text-align: center;">
					<script>
						var i=0;
					</script>
					{{#follow}}
					<div OnClick="location.href ='/profile/{{user1.user_id}}'" style="cursor: pointer; width:300px; height: auto; position: relative; float: left; margin: 7px 0px;">
						<div style="position: relative; float: left; width: 50px; height: 50px; border-radius: 25px; border: 1px solid black;">
							<input type="hidden" value="{{user1.profile_photo}}" id="getprofile_photo1">
							<script>
								var a = document.querySelectorAll("#getprofile_photo1");
								var x = [];
								x.push(a[i].value);
								if(a[i].value == 0) {
									console.log("사진없음");
									document.write("<img src=\"https://www.snsboom.co.kr/common/img/default_profile.png\" style=\"border-radius: 25px; width: 100%; height: 100%;\">");
								}
								else {
									document.write("<img src=\"{{user1.profile_photo}}\" style=\"border-radius: 25px; width: 100%; height: 100%;\">");
								}
								i++;
							</script>
						</div>
						<div style="position: relative; width: 240px; height: auto; float: left; margin-left: 5px; text-align: left;">
							<p style="font-size: 1.3em; margin: 0px;"><b>{{user1.user_id}}</b>&nbsp;&nbsp;</p><p style="font-size: 0.75em; margin: 0px;">{{user1.name}}</p>
						</div>
					</div>
					{{/follow}}
					<div style="position: relative; float: left; width: 300px; height: 5px;"></div>
				</div>
			</fieldset>
		</article>
	</section>	
</body>
</html>