<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
	</header>
	<section>
		<article>
			<form action="/create/user" method="post">
				<div style="width: 300px; height: 300px;">
					<fieldset style="border-radius: 10px; text-align: center; position: relative; left: 750px; top: 50%;">
						<legend style="text-align: center;"><b>Sign Up</b></legend>
						<div style="margin-top: 30px;">
							<i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" 
								style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yi/r/ZFtnMBJnHU_.png&quot;); 
								background-position: 0px -554px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
						</div>
						<div style="margin-top: 15px;">
							<p>
								<input style="width: 175px; height: 25px; border-radius: 5px;" type="text" placeholder="Phone number" value="" name="phone_number">
							</p>
						</div>
						<div style="margin-top: 15px;">
							<p>
								<input style="width: 175px; height: 25px; border-radius: 5px;" type="text" placeholder="Your name" value="" name="name">
							</p>
						</div>
						<div style="margin-top: 15px;">
							<p>
								<input style="width: 175px; height: 25px; border-radius: 5px;" type="text" placeholder="User ID" value="" name="user_id">
							</p>
						</div>
						<div style="margin-top: 15px;">
							<p>
								<input style="width: 175px; height: 25px; border-radius: 5px;" type="password" placeholder="Password" value="" name="password">
							</p>
						</div>
						<div style="margin-bottom: 50px; margin-top: 15px;">
							<p>
								<input style="width: 175px; height: 25px; border-radius: 5px;" type="date" placeholder="Your birthday" value="" name="birthday">
							</p>
						</div>
						<input type="hidden" value="0" name="profile_photo">
						<div style="margin-bottom: 30px;">
							<button style="width: 175px; height: 25px; border-radius: 5px;" type="submit">SIGN UP</button>
						</div>
						<div>
							<a>Do you have an account? </a><a href="login">Sign in</a>
						</div>
					</fieldset>
				</div>
				<br>
			</form>
		</article>
	</section>	
</body>
</html>
